div{
    width: 60%;
    display: flex;
    justify-content: center;
}
form{
    text-align: left;
    padding: 1em;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgba(101, 185, 204, 0.822);
}

.labels{
    display: block;
    width: 6em;
    font-size: 1.1em;
    margin-top: 0.2em;
}
.inputs{
    width:17em;
    line-height: 2em;
   
}
